nav.navbar {
  margin-bottom: 0;
}

.container-fluid{
  background-color: black;
}
.navbar-brand{
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 25px;
}

.navbar-collapse{
  flex-basis: 50%;
  float:right;
}

.navbar-header{
  float: left;
}

.log{
  position: absolute;
  color: white;
  background-color:rgb(23, 111, 113);
  bottom: 0;
  right:0px;
  font-family: 'Space Mono', monospace;
  display: flex;
  justify-content: space-around;
}

