.jumbotron {
  min-height: 300px;
  padding-top: 75px;
  background: linear-gradient(black, rgb(89, 43, 63), rgba(0, 0, 0, 0.454));
}

h2{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
}


.jumbotron h1, .jumbotron .h1 {
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 110px;
}